.CustomersHeading {
    margin-left: 50px;
}

.CustomerInputForm {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    column-gap: 10%;
}

.CustomerInputForm button {
    background-color: rgb(68, 98, 159);
    border: none;
    border-radius: 5px;
    color: white;
    height: 20px;
    margin-top: 15px;
    width: 125px;
}

.CustomerInputForm button:disabled {
    cursor: not-allowed;
}