.Logo {
    padding: 8px;
    height: 70%;
    display: flex;
    align-items: center;
}

.Logo img {
    height: 100%;
}

.Logo text {
    color: gray;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 500;
}